:root {
  --clr-font-primary: black;
  --clr-font-secondary: white;
  --clr-nav: rgb(244, 243, 243);
  --clr-button: rgb(16, 21, 36);
  --clr-bg-primary: rgb(226, 230, 234);
  --clr-bg-secondary: rgb(250, 250, 250);
}

body {
  background-color: var(--clr-bg-primary);
}

h1 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

#profile-card {
  width: 90vw;
  max-width: 60rem;
  background-color: var(--clr-bg-secondary);
  margin: 5rem auto;
  padding: 3rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.3);
}

.card-left {
  max-width: 32rem;
  text-align: justify;
}

.card-left .bio {
  font-size: 0.95rem;
  line-height: 1.4;
}

.card-left .buttons {
  margin: 2.5rem 0;
}

#contactBtn {
  font-weight: 700;
  font-family: sans-serif;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--clr-button);
  color: var(--clr-font-secondary);
  cursor: pointer;
}

#downloadCVBtn {
  margin-left: 1.5rem;
  text-decoration: none;
  color: var(--clr-font-primary);
}

.socials {
  display: flex;
  gap: 1.5rem;
}

.socials a {
  font-size: 2.3rem;
  color: var(--clr-font-primary);
}

.card-right {
  width: 20rem;
  background-color: var(--clr-font-secondary);
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.1);
}

.card-right div {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.3;
}

#profile-pic {
  width: 20rem;
  height: 23rem;
  object-fit: cover;
  margin-bottom: -0.4rem;
}

.name {
  font-weight: 700;
  font-size: 1.6rem;
}

/* Responsive Design */

@media (max-width: 1055px) {
  #profile-card {
    flex-direction: column;
  }

  .card-left {
    order: 2;
    text-align: center;
  }

  .card-right {
    order: 1;
  }

  .bio {
    text-align: justify;
  }

  .socials {
    justify-content: center;
  }
}
